*
{
    margin:0;
    padding:0;
    list-style:none;
}

body
{
    font-size:16px;
}

.container
{
    width:100%; 
}

.banner
{
    width:100%;
    height:100vh;
    background-position:center center;
    background: url("images/overlay.png"), url("images/bogazici_koprusu.jpg");
    background-size:cover;
    position:relative;
    box-sizing:border-box;
    display:flex;
    text-align: center;
    align-items:center;
    justify-content: center;
}   

.header
{
    width:59.5%;
    position:absolute;
    align-self:flex-start;
    text-align:center;
    margin:0 auto;
}

.header h1
{
    color:#fff;
    font-size:3em;
}

.navbar
{
    width:60%;
    margin:90px auto;
    align-self:flex-start;
}

.navbar nav ul li
{
    display:block;
    float:left; 
}

.navbar nav ul li a
{
    display:block;
    padding: 20px 15px;
    background:#161616;
    color: aliceblue;   
    text-decoration:none;
    font-size:1.3em;
    width:7.7em;
    text-align:center;  
    border-radius: 15px;
    border-radius: 15px;
}

.navbar nav ul li a:hover
{
    background:aliceblue;
    color: #161616;
    transition-duration:0.3s;
}

.homepage 
{
    width:40%;
    height:30vh;
    position:absolute;
    align-self:flex-start;
    background:#36b2ff;
    margin-top:20em;
    border-radius:4em;
}

.homepage h2
{
    margin-top:0.6em;
    font-size:3em;
    margin-bottom:0.6em;
    color:#fff;
}

.homepage h2+p
{
    font-size:2em;
    color:#fff;
}
    footer
{
    width:100%;
    height:13em;
    text-align:center;
}

footer .sosyal
{
    text-align:center;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

footer a
{
    position:relative;
    display:inline-block;
    transform: translateY(-50%);
    margin-left:30px;
    margin-bottom:30px;
}

footer a[title="facebook"]::before
{
    content:'';
    background: url("icons/facebook.png") no-repeat;
    width:45px;
    height:42px;
    display:inline-block;

}

footer a[title="twitter"]::before
{
    content:'';
    background: url("icons/twitter.png") no-repeat;
    width:45px;
    height:42px;
    display:inline-block;

}

footer a[title="linkedin"]::before
{
    content:'';
    background: url("icons/linkedin.png") no-repeat;
    width:45px;
    height:42px;
    display:inline-block;
}

footer .sosyal ul li
{
    display:inline-block;
    text-decoration:none;
}

footer .sosyal ul p
{
    font-size: 24px;
    font-weight:200;
}
